<script setup lang="ts">
import { RouterView } from "vue-router";
import { mdiGlassCocktail, mdiStarCircle, mdiCartArrowDown } from "@mdi/js";
import { useCartStore } from "../stores/cart";
import { useProductStore } from "../stores/product";
import { useHomeStore } from "../stores/home";
const useHome = useHomeStore();
const useCart = useCartStore();
const useProduct = useProductStore();
const colors = [
  "indigo",
  "warning",
  "pink darken-2",
  "red lighten-1",
  "deep-purple accent-4",
];

const items = [
  {
    src: "https://images.krisshop.com/cms/k5vLTsERdZjBbof6YIqmEi7QB3XttuiTD9-4SM_xaGo/0x0/bWVkaWEvZ2VuZS1jbXMvMS84LzE4ODk4MV9ndF8zMjAweDEwMDBfZGVza3RvcF9oZXJvYmFubmVyX2MuanBn",
  },
  {
    src: "https://jiome.com/wp-content/uploads/sites/9/2021/08/JohnnieWalker-Catelog-Headline-Banner-1920x730-2.jpg",
  },
  {
    src: "https://sugarcomunicacion.com/wp-content/uploads/2023/03/Johnnie-Blonde-Mood.jpeg",
  },
  {
    src: "https://media.npr.org/assets/img/2013/11/16/johnnie-walker-picture_wide-0369a7e31e16cfccdd10a59c2916eb0a11ead81e.jpg",
  },
];
</script>

<template>
  <v-carousel
    height="670px"
    cycle
    hide-delimiter-background
    show-arrows="hover"
  >
    <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src" cover>
      <v-sheet :items="items[i]" :src="item.src"></v-sheet>
    </v-carousel-item>
  </v-carousel>
  <v-container style="padding: 10px; margin-top: 20px; height: 700px">
    <h1
      style="
        font-size: 60px;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 20px;
      "
    >
      Whiskey
      <v-icon
        :icon="mdiStarCircle"
        style="height: 40px"
        color="orange"
      ></v-icon>
    </h1>
    <hr style="margin-bottom: 5%" />
    <v-row>
      <v-col v-for="(item, index) in useHome.whiskey" :key="index">
        <v-badge color="red" content="RECCOMMEND">
          <v-card
            class="mx-auto"
            width="300"
            height="400px"
            elevation="5"
            shaped
          >
            <v-img
              class="align-end text-white"
              height="200"
              :src="item.image"
            ></v-img>
            <v-card-subtitle class="pt-4">{{ item.subtitle }}</v-card-subtitle>
            <v-card-text>
              <div>{{ item.name }}</div>
              <div></div>
              <br />
              <div style="font-size: 17px">{{ "฿ " + item.price }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="orange"
                :prepend-icon="mdiCartArrowDown"
                @click="useCart.addToCart(item)"
              >
                ADD
              </v-btn>
            </v-card-actions>
          </v-card>
          <br v-if="(index + 1) % 3 === 0" />
        </v-badge>
      </v-col>
    </v-row>
  </v-container>
</template>
